@{
    ViewData["Title"] = "Elecciones";
}

<h1>Creditos</h1>

<h2>Desarrollo</h2>
<div class="centrar">
    <h4>Zarek</h4>
</div>
<div class="centrar">
    <h4>Dante</h4>
</div>

<h2>diseño</h2>
<div class="centrar">
    <h4>Dante</h4>
</div>
<div class="centrar">
    <h4>Zarek</h4>
</div>

<h2>Testing</h2>
<div class="centrar">
    <h4>Zarek</h4>
</div>
<div class="centrar">
    <h4>Dante</h4>
</div>

<h2>Analisis</h2> <!-- bueno nada osea yo pensaba que no estaba terminado en que sentido css, que falta poreso nose idje yo pensaba pero parece okry grcs --> 
<div class="centrar">
    <h4>Zarek</h4>
</div>
<div class="centrar">
    <h4>Dante</h4>
</div>