@{
    ViewData["Title"] = "Elecciones";
}

<h1>Elecciones 2023</h1>
<p>bienvenidos a las elecciones 2023 en este año se votará al nuevo presidente mediante las elecciones en las cual se votara. votaremos al proximo presidente para que haga su presidencia durante cuatro (4) años </p>