@{
    ViewData["Title"] = "Agregar Partido";
}



<form action='@Url.Action("GuardarPartido")' method="post">
    <div id="bloqueFormulario">

        <h1>Nombre</h1>

        <input type="text" name="Nombre" placeholder="Arriba Argentina...">

        <h1>Logo</h1>

        <input type="text" name="Logo" placeholder="Url de la imagen...">

        <h1>Sitio Web</h1>

        <input type="text" name="SitioWeb" placeholder="partido.com">

        <h1>Fecha de Fundacion</h1>

        <input type="date" name="FechaFundacion" placeholder="20-07-1986...">

        <h1>Cantidad de Diputados</h1>

        <input type="text" name="CantidadDiputados" placeholder="30...">

        <h1>Cantidad de Senadores</h1>

        <input type="text" name="CantidadSenadores" placeholder="12...">

        <br>
        <input type="submit" value="Agregar" id="agregar" class="link">

    </div>
</form>
